* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 15px;
    color: #212121;
    line-height: 1.5;
    background-color: rgb(181, 221, 208);
}

img {
    display: block;
    max-width: 100%;

}
.search-button {
    
    border-radius: 5px;
    width: 200px;
    color: rgb(82, 72, 60);
    padding: 15px 7px;
    margin-left: 20px;
    border-color: rgb(19, 231, 118);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    background-color: antiquewhite;

}

.form-group {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.label {
    font-size: 24px;
    font-weight: 500;
    color: #2e2727;

}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.search-input {
    padding: 15px;
    border-radius: 5px;
    border-color: rgb(19, 231, 118);
    background-color: antiquewhite;
    
}
.days-select {
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(19, 231, 118);
}
.weather-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    
    gap: 30px;
    padding: 0;
}
.weather-card {
    width: 200px;
background-color: antiquewhite;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px;
box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
.weather-card:hover {
    transform: scale(1.1);
}
